.first-col-para{
  color: white;
  padding: 100px 150px;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
}
.second-col-para{
  padding-top: 50px;
  padding-left:10px ;
  text-align: justify;
  color: white;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
  justify-content: center;
}
.mt25{
  padding-left: 150px;
}
.mt1001{
  padding-top: 30px;
  padding-right: 220px;
}
.mt50{
  padding-top: 60px;
}
table{
  margin: 50px 50px 80px;

  
}
td{
  padding: 20px 30px 10px 30px;
  color: antiquewhite;

  
}
@media (max-width:800px){
  .first-col-para{
    text-align: start;
    padding: 40px 90px 1px;
  }
  .second-col-para{
    font-size: 14px;
    padding: 1px 0px 0px 15px;
  }.mt25,.mt50,.mt1001{
    padding-left: 80px;
  }td{
    padding: 15px 10px 0px 20px;
  }
}
/*---Card--*/ 
        .card {
          background-color: #282525;
          border: none;
          text-align: center;
      }
      .card-title {
          font-size: 1.2rem;
          font-weight: bold;
          
      }
      .card-img {
          width: 100%;
          max-width: 100px;
          height: auto;
          margin: 0 auto;
          padding: 1rem;
      }
@keyframes rotate{
    0%{ transform: rotate(0deg); }
    25%{ transform: rotate(3deg); }
    50%{ transform: rotate(-3deg); }
    75%{ transform: rotate(1deg); }
    100%{ transform: rotate(0deg); }
}
