*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root::-webkit-scrollbar{
  display: none;
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}


body {
  background: linear-gradient(to right, #000000 0%, #000000 100%);
  font-size: 12px;
  display: list-item;
  
}


/*--texts--*/
.firsthead{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.secondhead{
  padding: 100px 0px 0px 70px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.description{
  padding-left: 70px;
  color: white;
  text-align: justify;
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.home-img{
  width: 100%;
}
@media (max-width: 900px){
  .secondhead {
    padding: 5% 0% 0% 5%;
  }
  .firsthead{
   font-size: 18px; 
  }
  .description{
    padding-left: 5%;
    text-align: justify;
    font-size: 15px;
  }.home-img{
    width: 100%;    
  }

}
/*-- text animation --*/
@import url("https://fonts.googleapis.com/css?family=Roboto:700");
.containers {
  color: #000000;
  font-size: 1.35rem;
  text-transform: capitalize;
  display: flex;
  margin: auto;
  align-items: center;
}

.animation {
  height: 50px;
  overflow: hidden;
  margin-left: 2.85rem;
}
@media (max-width:800px){
  .animation{
    margin-left: 0.85rem;
  }
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height: 2.81rem;
  margin-bottom: 2.81rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color: #000000;
  color: rgb(13, 211, 13);
}
.second div {
  background-color: #000000;
  color: rgb(13, 211, 13);
}
.third div {
  background-color: #000000;
  color: rgb(13, 211, 13);
}
.forth div {
  background-color: #000000;
  color: rgb(13, 211, 13);
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -5.62rem;
  }
  30% {
    margin-top: -5.62rem;
  }
  40% {
    margin-top: -11.24rem;
  }
  60% {
    margin-top: -11.24rem;
  }
  70% {
    margin-top: -5.62rem;
  }
  80% {
    margin-top: -5.62rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}


